/github_c++/task1/cmake-build-debug/
/github_c++/task2/cmake-build-debug/
/github_c++/task3/cmake-build-debug/
/github_c++/task4/cmake-build-debug/
/github_c++/task5/cmake-build-debug/
/github_c++/task6/cmake-build-debug/
/github_c++/task4/SFML/
/github_c++/task5/SFML/
/github_c++/task6/SFML/