/sem2/task1/cmake-build-debug/
/sem2/task2/cmake-build-debug/
/sem2/task3/cmake-build-debug/
/sem2/task4/cmake-build-debug/
/sem2/task5/cmake-build-debug/
/sem2/task6/cmake-build-debug/
/sem2/task4/SFML/
/sem2/task5/SFML/
/sem2/task6/SFML/